.container {
  margin: 1rem 0.5rem;
}

.neo-card-body {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.neo-orbital-class-wrapper {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.orbital-class-item-wrapper {
  flex-basis: 100%;
}
.orbital-class-item--text {
  flex-basis: 100%;
}

.orbital-class-item--img {
  flex-basis: 100%;
}

.neo-table{
  width: 100%;
}
.neo-table thead{
  background-color: red;
  color:white
}
.neo-table thead th{
  text-align: center;
  border: 1px solid white;
}
.neo-table tbody td{
  text-align: center;
  border: 1px solid white;
}
.datepickerr{
  padding: .51rem;
  border-radius: 10px;
}

.lookup-select-wrapper{
  flex-basis: 100%;
}
.lookup-select{
  width: 15rem;
}
.table-card-label{
  flex-basis: 100%;
}

.lookup-date-wrapper{
  flex-basis: 100%;
}
.neo-table{
  margin-bottom: 0;
}
.astroidsvg-wrapper{
  animation: astroid 5s linear infinite;
  width: fit-content;
}

.earth-astroid-wrapper{
  padding: 1rem;
}
@keyframes astroid {
  0%{
     transform: rotate(0deg);
    }
 100%{
     transform: rotate(360deg);
    }
 }
@media (min-width: 481px) {
  .table-card-label{
    flex-basis: 40%;
  }
  .lookup-select-wrapper{
    flex-basis: 71%;
  }
}
@media (min-width: 641px) {
  .table-card-label{
    flex-basis: 49%;
  }
  .lookup-select{
    width: 13rem;
  }
  .lookup-select-wrapper{
    flex-basis: 49%;
  }
  .lookup-date-wrapper{
    flex-basis: 49%;
  }
}
@media (min-width: 961px) {
  .orbital-class-item--text {
    flex-basis: 80%;
  }

  .orbital-class-item--img {
    flex-basis: 18%;
  }
  .table-card-label{
    flex-basis: 30%;
  }
  .lookup-select-wrapper{
    flex-basis: 20%;
  }
  .lookup-date-wrapper{
    flex-basis: 20%;
  }
}
@media (min-width: 1025px) {
  .container {
    margin: 1rem 10rem;
  }

  .orbital-class-item-wrapper {
    flex-basis: 49%;
  }

  .orbital-class-item--text {
    flex-basis: 100%;
  }

  .orbital-class-item--img {
    flex-basis: 100%;
  }
  .table-card-label{
    flex-basis: 49%;
  }
  .lookup-select-wrapper{
    flex-basis: 49%;
  }
  .lookup-date-wrapper{
    flex-basis: 49%;
  }
}
@media (min-width: 1281px) {
  .container {
    margin: 1rem 15rem;
  }
  .orbital-class-item--text {
    flex-basis: 100%;
  }

  .orbital-class-item--img {
    flex-basis: 100%;
  }
  .table-card-label{
    flex-basis: 20%;
  }
  .lookup-select-wrapper{
    flex-basis: 20%;
  }
  .lookup-date-wrapper{
    flex-basis: 20%;
  }
}

@media (min-width: 1581px) {
  .container {
    margin: 1rem 15rem;
  }
  .orbital-class-item--text {
    flex-basis: 80%;
  }

  .orbital-class-item--img {
    flex-basis: 18%;
  }
}