.container {
  margin: 1rem 0.5rem;
}
.banner-section {
  height: 80vh;
  position: relative;
  display: table;
  width: 100%;
  background: rgb(0 0 0);
  /* ms ( IE 10.0+ ) */
  background: -ms-radial-gradient( ellipse closest-side at 50% 50%, rgb(45 46 46) 0.14%, rgb(0 0 0) 99.61% );
  /* WebKit (Chrome 10.0+, safari 5.1+ )*/
  background: -webkit-radial-gradient( ellipse closest-side at 50% 50%, rgb(45 46 46) 0.14%, rgb(0 0 0) 99.61% );
  /* Moz ( Moz 3.6+ )*/
  background: -moz-radial-gradient( ellipse closest-side at 50% 50%, rgb(45 46 46) 0.14%, rgb(0 0 0) 99.61% );
  /* Opera ( opera 11.6+ )*/
  background: -o-radial-gradient( ellipse closest-side at 50% 50%, rgb(45 46 46) 0.14%, rgb(0 0 0) 99.61% );
  /* W3C Markup */
  background: radial-gradient( ellipse closest-side at 50% 50%, rgb(45 46 46) 0.14%, rgb(0 0 0) 99.61% );
  height: 80vh;
}

.banner-content {
  display: table-cell;
  vertical-align: middle;
  color: var(--orange);
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  padding: 0 3%;
}
.banner-content h1{
  font-weight:700;
  text-transform: uppercase;
}
.banner-content p{
  margin-top: 2rem;
  letter-spacing: 2px;
}
/* The Solar system - styles */

.article-wrapper {
  padding : 1rem 1rem 0rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.img-wrapper {
  position: relative;
  width: 100%;
  height: 22rem;
}


.solar-system-img {
  object-fit: fill;
  padding: 10px;
  border: 1px solid #ddd;
}
.solar-system-desc-wrapper{
  text-align: justify;
  padding:1rem;
}
.solar-system-img:hover {
  box-shadow: 0 0 2px 1px rgba(4, 140, 185, 0.5);
}



/* The Celestials - styles */

.celestial-title-wrapper{
  padding: 1.5rem;
  font-weight: 700;
  color: var(--grey);
  background-color: var(--orange);
  letter-spacing: 1px;
 }

.celestials-card-body{
  padding: 0;
}
.celestials-wrapper{
  display: flex;
  gap: 10px;
  flex-direction: row;
  flex-wrap: wrap;
}
.celestials-wrapper > div{
  flex-basis: 100%;
}
.celestials-item-wrapper{
  display: flex;    
  gap: 10px;
  height: 100%;
  flex-direction: column;
}

.celestials-item-wrapper > div:first-child{
  flex-basis: 30%;
}
.celestials-item-wrapper > div:nth-child(2){
  flex-basis: 70%;
}
.celestials-desc-wrapper{
  padding:1rem;
  text-align: justify;
}

.celestial-img-wrapper {
  position: relative;
  width: 100%;
  height: auto;
}

/* Quote section */
.space-blockquote{
  font-size: 1.4em;
  width:100%;
  height: 100%;
  font-family:Open Sans;
  font-style:italic;
  color: var(--grey);
  padding: 1.2em 30px 1.2em 75px;
  border-left:8px solid var(--orange);
  line-height:1.6;
  position: relative;
  background: var(--white);
  margin: 2rem 0rem 2rem 0rem;
  border-radius: 5px;
}
.space-blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:var(--orange);
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

.space-blockquote::after{
  content: '';
}

.space-blockquote span{
  display:block;
  color:var(--orange);
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}
@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  .accordion-body{
    padding:5px;
  }
}
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .article-wrapper:nth-child(2){
    flex-direction: column;
  }
  
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .article-wrapper {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .article-wrapper > * {
    flex-basis: 50%;
  }
  .solar-system-wrapper {
    display: flex;
    row-gap: 15px;
    flex-wrap: wrap;
  }
  .article-wrapper:nth-child(2){
    flex-direction: row-reverse;
  }

  .celestials-wrapper > div{
    flex-basis: 49%;
  }
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .celestials-item-wrapper{
    flex-direction: row;
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .container {
    margin: 1rem 10rem;
  }
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .container {
    margin: 1rem 15rem;
  }
}
