.apod-img-wrapper{
  position: relative;
  width: 100%;
  height: 600px;
}

.apod-wrapper{
  display: flex;
}
.img-card-wrapper{
  height: auto; width: 60rem;
  flex-basis: 49%;
}
.img-gallery-item-wrapper{
  flex-basis: 49%;
}
.img-gallery-wrapper{
  position: relative;
  height: 120px;
}
.gallery-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0.1rem;
}
@media (min-width: 320px) {
  
}
@media (min-width: 481px) {
  
}
@media (min-width: 641px) {
  
  
}
@media (min-width: 961px) {
  
}
@media (min-width: 1025px) {
 
}
@media (min-width: 1281px) {
  .apod-wrapper {
    margin: 5rem 10rem 1rem 10rem
  }
}