
.space-search-wrapper{
  margin: 1rem 0.5rem;
}
.title-wrapper{
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: var(--white);
  color:var(--orange)
}
.space-search-list-wrapper {
  display: flex;
  gap: 10px;
  flex-direction: row;
  flex-wrap: wrap;
}
.space-search-list-wrapper > div {
  flex-basis: 100%;
}

.space-search-list-card-body {
  padding: 0;
  height: 25rem;
}

.space-search-list-item-wrapper {
  flex-wrap: wrap;
  display: flex;
  gap: 10px;
  height: 100%;
}

.space-search-input {
  display: inline;
  width: 100%;
  height: 50px;
  padding: 1rem;
  margin: 0.8rem 0rem 1.5rem 0rem;
  border-radius: 5px;
  border: 1px solid #dee2e6;
}

.space-search-submit {
  padding: 0.7rem;
  border-radius: 5px;
}

.space-search-footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.space-search-pagination-wrapper {
  margin-bottom: 0px;
}

.query-item-img-wrapper {
  flex-basis: 100%;
  height: 65%;
}
.query-item-text-wrapper {
  padding: 0.5rem;
  flex-basis: 100%;
}
.search-list-wrapper {
  width: 100%;
}

.search-listitem-img-wrapper {
  flex-basis: 100%;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.175);
}
.search-listitem-text-wrapper {
  flex-basis: 100%;
}
.search-listitem-text-wrapper p {
  text-align: justify;
}
.search-listitem-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 20rem;
  overflow: hidden;
}
.space-search-back {
  margin-right: 0.5rem;
}

.no-records-found-text{
  margin:0;
  width: 100%;
  text-align: center;
}
@media (min-width: 320px) {
  .accordion-body {
    padding: 5px;
  }
}
@media (min-width: 481px) {
}
@media (min-width: 641px) {
  .search-listitem-text {
    width: 38rem;
  }
  .space-search-list-card-body {
    height: 35rem;
  }
}
@media (min-width: 961px) {
  .search-listitem-text {
    width: 34rem;
  }
}
@media (min-width: 1025px) {
  .space-search-wrapper {
    margin: 5rem 10rem 1rem 10rem;
  }
  .query-item-text-wrapper {
    flex-basis: 79%;
  }
  .query-item-img-wrapper {
    flex-basis: 20%;
    height: 100%;
  }
  .space-search-list-card-body {
    padding: 0;
    height: 10rem;
  }
  .space-search-list-item-wrapper {
    flex-wrap: nowrap;
  }
  .search-listitem-text {
    width: 34rem;
  }

  .search-listitem-img-wrapper {
    flex-basis: 29%;
  }
  .search-listitem-text-wrapper {
    flex-basis: 69%;
  }
}
@media (min-width: 1281px) {
  .space-search-wrapper {
    margin: 5rem 10rem 1rem 10rem
  }
  .search-list-wrapper {
    width: 100%;
  }
  .space-search-wrapper {
    margin: 5rem 10rem 1rem 10rem;
  }
  .search-listitem-text {
    width: 47rem;
  }
}

